.cardheader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardbody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 2rem;
  background: #ffffff;
  border-radius: 20px;
  max-width: 420px;
  display: grid;
}
.verify {
  padding: 6rem 4rem;
  background: #ffffff;
  border-radius: 20px;
  display: grid;
  min-width: 400px;
  min-height: 100%;
}
.card form {
  gap: 1rem;
}
.logincard {
  padding: 4rem 2rem;
  background: #ffffff;
  border-radius: 20px;
  max-width: 420px;
  gap: 2rem;
  display: grid;
  min-height: 100%;
}
.logincard form {
  gap: 1rem;
}
.policylink {
  text-align: center;
  gap: 1rem;
}
.gridcontainer {
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: #e7e7e7;
  place-content: center;
  text-align: center;
  width: 100%;
  min-width: 420px;
}
.Continuebtn {
  width: 100%;
  background: linear-gradient(192.05deg, #47bfdf 0%, #4a91ff 100%);
  border-radius: 15px;
}
.signupform {
  display: grid;
  gap: 0.6rem;
  margin: 0.6rem;
}
.verifyEmailtext {
  color: #939eaa;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.verifyemail {
  display: grid;
  place-content: center;
  text-align: center;
}
.verifyemailbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin: 0.5rem;
}

.backtosignup {
  position: relative;
  top: 4rem;
}
